<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1><strong>Our Cocktail Menu</strong></h1>
    <p> </p>
    <%= link_to "Create new Cocktail", new_cocktail_path, class: "btn btn-flat-success"%>
  </div>
</div>


<ul>
  <% @cocktails.each do |cocktail| %>
  <li> <%= link_to cocktail.name, cocktail_path(cocktail) %> </li>
  <% end %>
</ul>


